SUBSYSTEM=="virtio-ports", ATTR{name}=="org.omacvm.clipboard", TAG+="uaccess"
SUBSYSTEM=="virtio-ports", ATTR{name}=="org.omacvm.display", TAG+="uaccess"
